* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(./images/pexels-pixabay-258244.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1400px;
}

.field-control {
    display: block;
    width: 100%;
    padding: 8px 20px  8px 51px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff70;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-glass {
    background: rgb(175 212 247 / 14%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 38%);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
}

.field-control:focus {
    color: #000000;
    background-color: #ffffff70;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: #000000;
    background-color: #abcbe830;
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    filter: drop-shadow(2px 5px 5px black);
}

.btn-secondary:hover {
    background-color: darkgray !important;
}

.btn-success:hover {
    background-color: green !important;
}

.btn-danger:hover{
    background-color: red !important;
}

.btn-info:hover{
    background-color: navy !important;
    color: azure;
}

.btn-primary:hover{
    background-color: #153c81 !important;
    color: azure;
}

.btn-light:hover{
    background-color: #b0b0a8 !important;
}

.fa-indian-rupee-sign {
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 25px;
    color: #000000;
}

.fa-box-open {
    position: absolute;
    top: 12px;
    left: 11px;
    font-size: 25px;
    color: #000000;
}

.fa-magnifying-glass {
    position: absolute;
    top: 12px;
    left: 11px;
    font-size: 25px;
    color: #000000;
}

.currency input {
    text-indent: auto;
}

.pdct input {
    text-indent: auto;
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
}

/* Media Query for Mobile Devices */

	@media (320px <= width <= 480px) {

        .table>:not(caption)>*>* {
            font-size: 13px !important;
        }

        .btn-success, .btn-info, .btn-danger {
            font-size: 10px !important;
        }
    }


/* Media Query for low resolution  Tablets, iPad */

    @media (481px <= width <= 767px) {

        .table>:not(caption)>*>* {
            font-size: 13px !important;
        }

        .btn-success, .btn-info, .btn-danger {
            font-size: 10px !important;
        }
    }

